body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
span{
    color:#FB8847;
}

 /* start section1  */
 .cover{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
}
.cover-fonts{
    width: 50%;
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 8%;
    
}
.cover-fonts h1{
    font-size: 75px;
    font-weight: 700;
    color: #575757;
    display: inline;
}
.cover-fonts p{
        top: 534px;
        padding: 6% 1%;
        font-weight:500;
        font-size: 25px;
        color: #575757;
}
.button{
    text-decoration: none;
    border-radius: 50px;
    color: white;
    font-weight: 600;
     font-size: 25px;
    padding: 24px 32px;
     /* gradient  */
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
}
.cover-img{
    width: 658.26px;
    height: 747.23px;
    margin: 150px 50px;
}
.cover-img img{
    width: 100%;
    float: left;
    margin-bottom: 72.77px;
    margin-right: 49.74px;
    margin-top: 82px;
}  
/* End section1  */


/* start section2 */
.about-me{
    background-image: url(img/cover01.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    display: flex;
}
.about-img{
    height: 100%;
    width: 35%;
    margin-top: 100px ;
}
.about-img img{
    width: auto;
    float: right;
    height: 700px;
    margin-top: 100px;
    display: block;
    margin-left: 15%;
}
.about-tx{
    width: 55%;
    display: block;
    margin-top: 160px;
    margin-bottom: 150px;
    padding: 0% 10%;
    padding-left: ;
}
.about-tx h1{
    font-size: 40px;
    font-weight: bold;
    color: #707070;
    padding: 0% 0% ;
}
.about-tx p{
    color: #575757;
    /* margin-top: 86px;
    margin-right: 48px; */
    margin-bottom: 12%;
    margin-right: 30%;
    font-size: 18px;
    line-height: 38px;
    padding: % 0%;
}
.about-bt{
    margin-top: 50px;
}
/* End section2 */


/* start section3 */
.card-tx{
    padding-top: 50px;
    padding-bottom: 38px;
    text-align: center;
    /* margin-left: ; */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 30px 0px;
}
.card-tx h1{
    color: #575757;
    font-size: 36px;
    font-weight: 700;
}
.card-tx p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #575757;
}
.card-box{
    width: 100%;
    display: flex;
    padding-bottom: 100px;
}
.box{
    box-shadow: 0px 2px 30px rgba(56, 45, 37, 0.5);
    margin: 1% 4%;
    width: 23%;
    /* transition: 0.5s; */
    padding: 20px 20px;
    border-radius: 50px;
}
.box img{
    width: 100%;
    border: 10px red;
    border-radius: 50px;
}
.box-tx{
    padding-top: 40px;
}
.box-tx h2{
    font-weight: 800;
    font-size: 28px;
}
.box-tx p{
    line-height:200%;
}
/* end section3 */


/* start section4 */
.follower{
    align-items: center;
    width: 100%;
    }
.fol-box{
    width: 90%;
    align-items: center;
    display: inline-flex;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    /* transition: 0.5s; */
    margin: 50px 5%;
    border-radius: 20px;
}
.fol-txt{
    width: 100%;
    text-align: center;
}
.fol-txt h1{
    font-size: 48px;
    font-weight: 700;
    color: #18191F;
    margin-bottom: 8px;
    
}
.fol-txt p{
    width: 100%;
    font-size: 16px;
    color: #18191F;
    padding-bottom:24px ;
    
}
/* end section4 */


/* start section5 */
.end-tx{
    background-color: #0B0D17;
    text-align: center;
    width: 100%;
}
.end-tx h1{
    font-size: 30px;
    font-weight: 900;
    padding-top: 38px;
    padding-bottom: 18px;
    color: #5B5B5B;
}
.end-tx p{
    color: white;
    font-size: 16px;
    font-weight: 400px;
    padding-bottom: 115px;
}
/* end section5 */


/* start section */
/* end section */